body{
    background-color: rgb(235, 235, 235);
    font-family: Verdana, sans-serif;
}
.container{
    background-color: white;
    margin: 10% 10% 50px 10%;
    padding: 30px;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.2);
    position: relative;
}
.head{
    display: inline-flex;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color:rgb(19, 20, 98);
    width: 100%;
    padding: 3% 0;
}
.body{
    margin-top: 200px;
}
.picture{
    padding: 20px 80px 20px 30px;
    width: 120px;
}
.address{
    padding: 0;
    color: white;
}
.name{
    font-size: 36px;
    margin: 10px 0;
    text-transform: uppercase;
}
.job{
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0;
}
ul.phone{
    font-size: 18px;
    margin: 10px 0;
    display: inline-flex;
    padding: 0%;
}
li{
    margin: 0 20px;
}

div.ol_title{
    margin: 10px 30px 0 30px;
    width: 500px;
    height: 50px;
    background-color: rgb(246, 246, 246);
}

div.ol_title ol{
    font-size: 18px;
    margin: 20px 30px;
    display: inline-flex;
    padding: 0;
    font-size: 12px;
}

div.ul_title li{
    margin-top: 10px;
}
p.title{
    color: rgb(19, 20, 98);
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.line{
    height: 2px;
    width: 100%;
    background-color: gainsboro;
}
.experiencei, .formationi, div.item{
    display: inline-flex;
}
.formationi>p{
    margin-top:0;
}
.description{
    margin-left: 50px;
}
.degree{
    text-transform: uppercase;
    color: rgb(19, 20, 98);
}   
.date{
    width: 150px;
}

.button{
    position: absolute;
    right: 0;
    top: 60px;
    color: white;
    text-decoration: none;
    background-color: #7e74a2c0;
    padding: 10px;
}

